<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" verbose="2">
<test name="Test1" verbose="2">
    <classes>
        <class name="tests.test.usecases.WrongDataToAuthTest"/>
    </classes>
</test>
<test name="Test2" verbose="2">
    <classes>
        <class name="tests.test.usecases.CorrectDataToAuthTest"/>
    </classes>
</test>
    <test name="Test3" verbose="2">
        <classes>
            <class name="tests.test.usecases.ForgotPasswordTest"/>
        </classes>
    </test>
</suite>